.portfilio {
  position: relative;
  margin-top: 15rem;
  margin-left: 4.1rem;
  display: inline-block;
}

.portHr {
  width: 100%;
  color: rgba(128, 128, 128, 0.536);
}

.btn {
  background: linear-gradient(to top left, #cc99ff 22%, #ff6699 79%);
  border: none;
  color: white;
}

.btn:hover {
  border: none;
  transform: scale(1.04) perspective(0.1px);
  color: white;
}

.portList {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  padding: 0%;
}

.colorText {
  color: black;
}

.portfilioUX {
  position: relative;
  bottom: 20px;
  margin-top: 12rem;
  right: -4%;
  margin-right: 50.1rem;
  display: inline-block;
}

.JS {
  position: absolute;
  top: 13%;
  left: 49%;
  border-bottom: 2px solid #cc99ff;
}

.UXUI {
  position: absolute;
  top: 70%;
  left: 47%;
  border-bottom: 2px solid #cc99ff;
}

.btnUl .btnLi {
  list-style-type: none;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin-left: 1rem;
}

.btnUl {
  left: -10%;
  position: absolute;
}
