/* .resumeDiv {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 30%;
    margin-bottom: 3rem;

} */

.resume {
    width: 40%;
    position: absolute;
    top: 15%;
    left: 30%;
    margin-bottom: 6rem;
}

